@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<p>
    How to use this simulator:<br>
    1. Drag components from the left panel into the central box.<br>
    2. Click on components that have been placed to change details (for example resistance) using buttons below the central box.<br>
    3. Press the wires button to show connection points, then you can draw wires by clicking and dragging from the connection points. (press the same button if you would like to place more components)<br>
    4. Click the simulate button to update the values on the voltmeters and ammeters in your circuit.
</p>
