@{
    ViewData["Title"] = "Home Page";
}


    <h1 class="display-4">Welcome</h1>
    <p>
        This is my final year project for Computer Science at the University of Sussex. 
        It is a circuit creation tool that uses nodal analysis to simulate the circuit and can then display the potential difference or current on a voltmeter or ammeter. 
        Try it out on the simulator page or go to the help page to see how to build a circuit.
    </p>
    <p>
        Current issues include:<br>
        - you cannot put cells adjacent to eachother (putting ammeters between cells effectivly solves this)<br>
        - wire connection points look dodgy<br>
        - wire connection points may be blocked by a wire so be careful where you release the mouse<br>
        - you can only simulate one circuit at a time<br>
        - incorrect / incomplete circuits may cause crashes (refresh the page to fix)<br>
        - you cannot remove components or edit a circuit after wires are placed (refresh the page to restart)
    </p>


